<a href="https://colab.research.google.com/github/inistory/Recommender_System/blob/main/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import mlxtend
import numpy as np
import pandas as pd

In [ ]:
#데이터셋 생성
#우유, 귀저기 쥬스, 맥주, 양상추
data = np.array([
    ['우유', '기저귀', '쥬스'], #0번의 거래
    ['양상추', '기저귀', '맥주'], #1번의 거래
    ['우유', '양상추', '기저귀', '맥주'],
    ['양상추', '맥주']
])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  import sys

# Apriori 알고리즘

In [ ]:
from mlxtend.preprocessing import TransactionEncoder #희소행렬(Sparse Matrix)을 만들기위해

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True, False],
       [False,  True,  True, False, False]])

In [ ]:
te.columns_ #컬럼 순서를 어떻게 기록하고 있는지

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [ ]:
df = pd.DataFrame(te_ary, columns=te.columnns)